body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #1a0b0b;
    line-height: 1.0;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  